.container {
  display: flex;
  color: #404040;
  text-align: center;
  background-color: #f9fff6;
}

.box {
  min-width: 35%;
  max-width: 35%;
}

#logo {
  text-align: left;
}

#logo img {
  width: 100px;
  height: 100px;
  margin: 10% 0 10% 10%;
}

#login {
  width: 100%;
  margin: 25% 0 60% 0;
}

#login h1{
  margin-bottom: 5%;
  cursor: pointer;
}

#login button{
  font-size: 1.2rem;
  font-weight: bold;
  width: 60%;
  height: 50px;
  color: #f9fff6;
  background-color: #658177;
}

#login i{
  margin: 0 8% 0 0;
}

#login button:hover{
  background-color: #526960;
}

#login img {
  width: 30px;
  height: 30px;
  margin: 2% 5% 0 0;
}

.wallpaper {
  width: 100vw;
  height: 100vh;
}