.container {
  display: flex;
  color: #404040;
  text-align: center;
  background-color: #f9fff6;
}

.box {
  min-width: 30%;
  max-width: 30%;
}

#logoBox {
  text-align: left;
}

#logoBox img {
  width: 100px;
  height: 100px;
  margin: 10% 0 0 10%;
}

#loginBox {
  width: 100%;
  margin: 15% 0 70% 0;
}

#loginBox h1{
  margin: 0 0 2% 0;
}

#loginBox span{
  display: block;
  margin: 0 0 30% 0;
}

#loginBox div{
  width: 60%;
  overflow: scroll;
  color: #f9fff6;
  font-size: 1.2rem;
  font-weight: bold;
  background-color: #658177;
  box-shadow: 0 1px 8px #888888;
}

#loginBox i{
  margin: 0 8% 0 0;
}

#loginBox div:hover{
  background-color: #526960;
}

#footerBox a{
  color: #404040;
  text-decoration: none;
}

#footerBox a:hover{
  color: #526960;
}

.wallpaper {
  width: 100vw;
  height: 100vh;
}