.container {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  overflow: scroll;
  justify-content: space-between;
}

.loginCard {
  width: 30%;
  height: 75%;
  padding: 3%;
  overflow: scroll;
  color: #5b4dcd;
  margin: 6% 12% 0 0;
  text-align: center;
  border-radius: 30px;
  box-sizing: border-box;
  align-self: flex-start;
  background-color: #f3eaf5;
}

.loginCard h1 {
  color: #4133b3;
  font-family: "Dana-Bold";
}

.about {
  color: #897fdb;
  font-family: "Dana-Medium";
}

.loginCard div {
  width: 80%;
  overflow: scroll;
  color: #ffffff;
  font-size: 1.2rem;
  margin: 33% 0 55% 0;
  border-radius: 30px;
  background-color: #5b4dcd;
  box-shadow: 0 1px 8px #888888;
}

.loginCard div:hover {
  background-color: #4133b3;
}

.loginCard i {
  margin: 0 10% 0 0;
}

.developer {
  display: block;
  color: #4133b3;
}

.developer a {
  color: #4133b3;
  text-decoration: none;
  font-family: "Dana-Bold";
}

.developer a:hover {
  color: #897fdb;
  text-decoration: none;
  font-family: "Dana-Bold";
}

.loginVector {
  width: 45%;
  height: 75%;
  margin: 0 0 0 3%;
  align-self: flex-end;
}