.navbar {
  padding: 1%;
  height: 50px;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  background-color: #ffffff;
  justify-content: space-between;
  border-bottom: solid 1px gray;
}

.navbar span {
  color: #5b4dcd;
}

#logout {
  margin: 0;
  height: 35px;
  color: #ffffff;
  font-size: 0.9rem;
  background-color: #4133b3;
}
