.navbar {
  padding: 1%;
  height: 50px;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  background-color: #e8f5f9;
  justify-content: space-between;
  border-bottom: solid 1px gray;
}

.user img {
  width: 30px;
  height: 30px;
  margin-left: 5px;
  border-radius: 50px;
}

.user span{
  color: #1890ff;
}

#logout {
  margin: 0;
  height: 35px;
  color: #ffffff;
  font-size: 0.9rem;
  background-color: #1890ff;
}